h1 {
    width: fit-content;
}

input {
    width: 100%;
    height: 40px;
}

.form-control {
    margin-bottom: 20px;
}

.btn {
    height: fit-content;
}

.col-4 {
    margin-bottom: 20px;
}

.space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}